body {
  font-size: 16px;
  min-width: 1040px;
}
body,
.pure-g [class*="pure-u"] {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
  color: #ff6300;
  font-weight: normal;
  margin-top: 0;
}
a { color: #333333; text-decoration: none; }
a:hover { text-decoration: underline; }


.center {text-align: center; }
.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }
.overflow { overflow: hidden; }

img { max-width: 100% !important; height: auto !important; }
.content {width: 1040px; margin: 0 auto; }

.button {
  background-color: #ff6300;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 10px 25px;
  font-size: 1.1em;
  display: inline-block;
}
.button:hover,
.button:focus { opacity: 0.9; }

.space-top { margin-top: 50px; }

.headline {font-size: 1.4em; }
.bold { font-weight: bold; }

.section { padding: 80px 0; }
.section-gray {background-color: #f5f6f5; }

#logo { margin-right: 20px; }
#header {
  padding-top: 25px;
  height: 95px;
}
#banner {
  background: url('../images/banner-home.png') center top no-repeat #ff7a00;
  height: 666px;
}

#banner-internal {
  background: url('../images/banner-internal.png') center top no-repeat #ff7a00;
  height: 244px;
  margin-bottom: 60px;
}

#banner-internal h1 {
  color: #000;
  font-weight: 800;
  margin-top: 90px;
  float: left;
  font-size: 2.4em;
}

#menu ul { list-style: none; padding: 0; margin: 10px 0 0 0; }
#menu a {
  padding: 12px 15px;
  display: block;
  border-right: 1px solid #f2f2f2;
}
#menu li { float: left; height: 81px; }
#menu li:last-child { border: none; }

#menu .is-active a { color: #ff6300; }
#menu .is-active { border-bottom: 4px solid #ff6300; }

#content { padding-bottom: 110px; }

.icon-check {
  background: url('../images/icon-check.png') no-repeat;
  display: inline-block;
  width: 22px; height: 22px;
}
.tag {
  text-transform: none;
  font-size: 1.4em;
  margin: 0 0 12px;
  text-align: left;
}
.tag .icon-check { margin-top: 5px; padding-right: 7px; }
.tag span { display: block; }
.tag-one-line {  width: 300px; }
.tag-three-lines { width: 620px; }


#footer {
  border-top: 4px solid #ff6300;
  background-color: #6f6f6f;
  color: #fff;
  padding: 55px 0;
  font-size: 0.8em;
}
#copy {
  background-color: #5c5c5c;
  text-transform: uppercase;
  padding: 30px 0;
  font-size: 0.8em;
  color: #fff;
}
#copy p { margin-bottom: 0; }


.footer-title {
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

.footer-phones p { margin: 0 0 6px; }
.footer-phones .footer-title { margin-bottom: 0px; }


.social-midia { margin: 0; padding: 0; list-style: none; }
.social { float: left; margin-right: 10px; }
.social a {
  width: 41px; height: 41px;
  display: inline-block;
  background: url('../images/sprite-social.png') no-repeat;
}
.social a:hover { opacity: 0.8; }
.social:last-child { margin-right: 0; }

.social-facebook a { background-position: 0px top; }
.social-twitter a { background-position: -46px top; }
.social-youtube a { background-position: -94px top; }
.social-skype a { background-position: -141px top; }
.social-whatsapp a { background-position: -189px top; }
