body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-width: 1040px;
}
h1, h2, h3, h4 {
  color: #ff6300;
  font-weight: normal;
  margin-top: 0;
}
a { color: #333333; text-decoration: none; }
a:hover { text-decoration: underline; }


.center {text-align: center; }
.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }
.overflow { overflow: hidden; }

img { max-width: 100% !important; height: auto !important; }
.content {width: 1040px; margin: 0 auto; }

.button {
  background-color: #ff6300;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 10px 25px;
  font-size: 1.1em;
  display: inline-block;
}
.space-top { margin-top: 50px; }

.headline {font-size: 1.4em; }
.section { padding: 80px 0; }

.section-gray {background-color: #f5f6f5; }

#logo { margin-right: 20px; }
#header {
  padding-top: 25px;
  height: 95px;
}
#banner {
  background: url('../images/banner-home.png') center top no-repeat #ff7a00;
  height: 666px;
}

#menu ul { list-style: none; padding: 0; margin: 10px 0 0 0; }
#menu a {
  padding: 12px 15px;
  display: block;
  border-right: 1px solid #f2f2f2;
}
#menu li { float: left; height: 81px; }
#menu li:last-child { border: none; }

#menu .is-active a { color: #ff6300; }
#menu .is-active { border-bottom: 4px solid #ff6300; }

.icon-check {
  background: url('../images/icon-check.png') no-repeat;
  display: inline-block;
  width: 22px; height: 22px;
}
.tag {
  text-transform: none;
  font-size: 1.4em;
  margin: 0 0 12px;
  text-align: left;
}
.tag .icon-check { margin-top: 5px; padding-right: 7px; }
.tag span { display: block; }
.tag-one-line {  width: 300px; }
.tag-three-lines { width: 620px; }


#footer {
  border-top: 4px solid #ff6300;
  background-color: #6f6f6f;
  color: #fff;
}
